[submodule "Solar-wind-Generation/Renewable-energy-generation-input-feature-variables-analysis"]
	path = Solar-wind-Generation/Renewable-energy-generation-input-feature-variables-analysis
	url = git@github.com:Bob05757/Renewable-energy-generation-input-feature-variables-analysis.git
